body {
	background-image:url('/../assets/background1.jpg');
}
.row {
	margin:0px;
	padding:0px;
}

.icon {
	position: center;
	width:42px;
	height:42px;
}

.column {
	display:flex;
	padding:10px;
}

h3 {
   font-family: 'Fjalla One', sans-serif;
   text-align: center
}

#mapa {
	margin-bottom: 5%;
}