body {
	background-image:url('/../assets/background1.jpg');
}
.row {
	background-image:url('/../../assets/background1.jpg');
    margin: 0;
}

.icon {
	
	width:42px;
	height:42px;
}

.column {
	display:flex;
	padding:10px;
}

h3 {
   font-family: 'Fjalla One', sans-serif;
   text-align: center
}

.btn {
	background-color: black;
	margin-bottom: 5%;
	margin-left: 0 auto; 
	margin-right: 0 auto;
}
