<!DOCTYPE html>
<html>
<head>
	<title>Contato - Underground.</title>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<body>
 
 <h3>Contato</h3>
  <section>
    <div class='container'>
      
      <div class='column'>
        <div class='column'>
        <img class='icon' src='/../../assets/route.png'>
        </div>
         <h5> Endereço:</h5>
         <div class='column'>
         Avenida Athos da Silveira Ramos,
         <br>
         CCMN, NCE, sala 1030 - Ilha do Fundão, 
         <br>
         Rio de Janeiro - RJ
       </div>
     </div>
     </div>
  	 <div class='container'>
  		<div class='column'>
  			<div class='column'>
   			<img class='icon' src='/../../assets/phone-call.png'>
   		     </div>
   			<br>
   			<h5>Telefones:</h5>
   			<div class='column'>  
   			  (21) 3872-9550 
          <br>
          (21) 3872-2345 
        </div>
      </div>
		</div>
      <div class='container'>
      <div class='column'>
        <div class='column'>
        <img class='icon' src='/../../assets/envelope.png'>
           </div>
        <br>
        <h5>Email:</h5>
        <div class='column'>  
          contato@underground.com
          <br>
          atendimento@underground.com
        </div>
      </div>
    </div>
			<div class='container'>
      <div class='column'>
        <div class='column'>
        <img class='icon' src='/../../assets/facebook.png'>
           </div>
        <br>
        <h5>Facebook:</h5>
        <div class='column'>  
         <h6>Underground.</h6>
    </div>
        </div>
      </div>
   
   <img class='col l6' src='/../../assets/mapa.jpg'>
   </section>
   
</body>
</html>