.nav-wrapper {
	background-color:black;
	background-border:black;
	height:112px;
	width:100%;
	margin-bottom: 0;
}
.nav-extended {
	background-image:url("/../../assets/background1.jpg");
	background-repeat: no-repeat; 
	background-size: 100%;
	margin-bottom: 0;
	width:100%;

}

.sidenav-trigger {
	background-color: #000000;
}
.material-icons {
	background-color: #000000;
}

.brand-logo {
	font-family: 'Coda Caption', sans-serif;
	height: 100%;
	font-size: 60px;
}
#subtitulo {
	font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    margin-left: 27%;
    margin-right: auto;
    background-color: transparent;
    color:#000000;
    text-align: center;
}

#nav-mobile {
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;

}