<link href="https://fonts.googleapis.com/css?family=Coda+Caption:800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<nav class="nav-extended z-depth-5">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">Underground.</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li routerLinkActive="active"><a routerLink="/home">Home</a></li>
				<li routerLinkActive="active"><a routerLink="/contato">Contato</a></li>
				<li routerLinkActive="active"><a routerLink="/sobrenos">Sobre Nós</a></li>
				<li routerLinkActive="active"><a routerLink="/login">Login</a></li>
			</ul>
			<br>	
	</div>
	<a class='center' id='subtitulo'> A marca que tem tudo para a prática de esportes urbanos! </a>
	
</nav>
