<!DOCTYPE html>
<html>
<head>
	<title>Login - Underground.</title>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

</head>
<body>
  <h3>Login</h3>
  <div class="row">
		<div class="container">
			<span>Email:</span><input type="text">
			<br>
			<br>
			<span>Senha:</span><input type="password">
			<a class="waves-effect waves-light btn">Logar</a>
		</div>
	</div>
	<div id ="cadastro" class="row">
		<div class="container">
		<h4>Não tem uma conta? Cadastre-se:</h4>
		<span>Nome Completo:</span><input type="text">
		<br>
		 <span>Email:</span><input type="text">
			<br>
		 <span>Confirme o email:</span><input type="text">
			<br>
			<span>Defina uma senha:</span><input type="password">
			<br>
			<span>Confirme a senha:</span><input type="password">
			<a id = "btn2" class="waves-effect waves-light btn">Cadastrar</a>
		</div>
	</div>

</body>
</html>
