<!DOCTYPE html>
<html>
<head>

	<title>Moca-Cola</title>
</head>
<body>
	
   <nav class= "transparent z-depth-0">
	<div class="container">
		<div class="row">
    			<div class="col l4 s12 m6">
      			 <div class="card-image z-depth-5 darken-1">
        		  <div class="card-content white-text">
          			<span class="card-title">Tênis Preto</span>
          			<img src='../assets/sneakers1.jpg' height="200vw" width="250vw">
        		  </div>
    			</div>
        </div>
    			<div class="col l4 s12 m6">
      			 <div class="card-image z-depth-5 darken-1">
        		  <div class="card-content white-text">
          			<span class="card-title">Camiseta Caveira</span>
          			<img src='../assets/camiseta1.jpg' height="400vw" width="300vw"  >
        		  </div>
        		  </div>
          </div>
          <div class="col l4 s12 m6">
             <div class="card-image z-depth-5 darken-1">
              <div class="card-content white-text">
                <span class="card-title">Bermuda Preta</span>
                <img src='../assets/bermuda1.jpg' height="400" width="300">
              </div>
      			 
        		  
      			 </div>
    			</div>
  			</div>
		</div>

	</div>	
   </nav>

</body>
</html>