<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<title>Underground.</title>

</head>
<body>
	
  <nav class= "transparent z-depth-5">
     </nav>

	<div class="container">
		<div class="row">

      <div class="col l6 s12 m6">
              <div class="card-image center z-depth-5 darken-1">
                <img class='img' src='../assets/skate1.jpg' height="300" width="600">
              </div>
              <div class="card-content">
          <h4> Acessórios </h4>
        </div>
      </div>
    	<div class="col l6 s12 m6">
      			  <div class="card-image center z-depth-5 darken-1">
        		    <img class='img' src='../assets/camiseta1.jpg' height="300" width="600"  >
        		  </div>
              <div class="card-content">
          <h4> Roupas </h4>
        </div>
      </div>
      <div id="card1"class="col l6 s12 m6">
             <div class="card-image center z-depth-5 darken-1">
                <img class='img' src='../assets/sneakers2.jpg' height="300" width="600">
             </div>  
             <div class="card-content">
          <h4> Tênis </h4>
        </div> 
      </div>
      <div class="col l6 s12 m6">
             <div class="card-image center z-depth-5 darken-1">
                <img class='img'src='../assets/bermuda1.jpg' height="300" width="600">
      			 </div>
             <div class="card-content">
          <h4> Treinamentos </h4>
        </div>
      </div>
  	</div>
	</div>
	
 

</body>
</html>