h3 {
	font-family: 'Fjalla One', sans-serif;
   text-align: center
}

.row {
    background-image:url('/../assets/background1.jpg');
    padding-bottom: 2%;
}

body {
	background-image:url('/../assets/background1.jpg');
}

#since {
	size:20%;
}
.container {
	margin-left: 10%;
	margin-right: 10%;

}